<div class="page">
  <div class="container">
    <h3 class="mt-5">Live Streaming</h3>
    <img src="{{server_address + '/camera/video_feed'}}" width="100%">

    <div class="buttonMenu" *ngIf="trains.length > 0; else trainsElseBlock">
      <div class="trainSelect">
        <li *ngFor="let train of trains; index as i" class="trainList">
          <button  class="trainElement trainElementSelected" (click)="onTrainClick(i)" [style.backgroundColor]=train.background>
            {{train.name}}
          </button>          
        </li>
      </div>
      <div class="buttonOverview" *ngIf="selected != undefined">
        <div class="flexrow">
          <span class="speed">Speed:</span>
          <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel" class="speedslider">
            <input value="{{trains[selected].speed}}" (valueChange)="onSpeedChange($event)" matSliderThumb >
          </mat-slider>
        </div>
        <div class="flexrow">
          <span class="speed">Direction:</span>
          <button class="" (click)="onForwards()" [style.backgroundColor]="trains[selected].direction ? '#aaaaaa' : '#dddddd'">
            Forwards
          </button>
          <button class="" (click)="onBackwards()" [style.backgroundColor]="!trains[selected].direction ? '#aaaaaa' : '#dddddd'">
            Backwards
          </button>
        </div>
        <button class="stopButton" (click)="onClickStop()">
          {{systemNextState}}
        </button>

        

      </div>
    </div>

    <ng-template #trainsElseBlock>
      No trains available
    </ng-template>
    <canvas #canvas class="canvas" width="960" height="540"></canvas>
    
  </div>
</div>